body{
  background-image: url(dune.jpg);
  font-family: 'roboto', sans-serif;
}

.signup-box{
  width: 360px;
  height: 600px;
  margin: auto;
  background-color: white;
  border-radius: 3px;
}
h1{
  text-align: center;
  padding-top: 15px;
}
h4{
   text-align: center;
}
form{
  width: 300px;
  margin-left: 20px; 
}
form label{
  display: flex;
  margin-top: 20px;
  font-size: 18px;

}
form input{
width: 100%;
padding: 7px;
border: none;
border: 1px solid grey;
border-radius: 6px;
outline: none;
}
input[type="button"]{
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color:dodgerblue;
  color: white;
  font-size: 15px;
  cursor: pointer;
}
p{
  text-align: center;
  padding-top: 18PX;
  font-size: 16PX;
}
.para2{
  text-align: center;
  color:black;
  font-size: 15px;
  margin-top: 5px;
}
.para2 a{
  color: blue;s
}